::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #612c551f;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ecc5a0;
}

.account-access {
  display: grid;
  position: relative;
  grid-template-columns: 5fr;
  gap: 0.8rem;
  text-align: center;
  max-width: 10rem;
  margin: 0 auto;
}

.account-access-form {
  display: grid;
  gap: 0.8rem;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
}

.account-access-form button {
  max-width: 5rem;
  text-align: center;
}

.listings-display {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  position: relative;
  max-height: 85vh;
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 15px;
}

.logo-image:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px #612c558f)
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 3rem;
}

.listing-card {
  border: solid;
  /* border-color: #8f95ff; */
  border-width: 2px;
  /* border-color: #ecc5a0; */
  border-color: #272727;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border-radius: 8px;
  background-color: #dcdcfc;
  box-shadow: 0px 0px 4px 1px #272727cb;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 5%;
}

.sold-card {
  height: min-content;
}

label {
  display: block;
}

input {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #272727;
}

select {
  background-color: #272727;
  color: #f3f3f3;
  text-align: center;
}

#login-video-logo {
  display: block;
  position: relative;
  margin: 8% auto 3% auto;
}

#add-new {
  align-self: center;
  display: block;
  font-size: 15px;
  border-radius: 8px;
  align-items: center;
}

.new-listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100%;
}

.sell-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: min-content;
}

.edit-listing {
  display: grid;
  height: 100%;
}

#cancel {
  align-self: center;
}

#homepage {
  display: grid;
  grid-template-columns: 10% 82% 8%;
}

#center-field {
  margin-top: 5%;
}

#right-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#sold-button {
  display: block;
  border-radius: 0px 0px 8px 8px;
  width: 80%;
  height: 100%;
  background-color: #272727;
  color: #ecc5a0;
  border-top-width: 0px;
}

#sold-button:hover {
  color: #272727;
  background-color: #ecc5a0;
  border-top-width: 0px;
}

.edit-button {
  border-radius: 0px 0px 8px 8px;
  /* background-color: #474747;
  color: #ecc5a0; */
  background-color: #ecc5a0;
  color: #272727;
  height: 70%;
  border-top-width: 0px;
}

.edit-button:hover {
  border-color: #ecc5a0;
  color: #474747;
  border-color: #272727;
  height: 90%;
  border-top-width: 0px;
}

.delete-button {
  border-radius: 0px 0px 8px 8px;
  background-color: #612c55;
  color: #ecc5a0;
  height: 70%;
  border-top-width: 0px;
}

.delete-button:hover {
  border-color: #612c55;
  color: #ecc5a0;
  border-color: #272727;
  height: 900%;
  border-top-width: 0px;
}

#option-buttons {
  display: grid;
  grid-template-columns: 1fr max-content 0.5fr;
}

#search-bar {
  width: 20rem;
  height: 1.5rem;
  color: white;
  background-color: #272727;
  border-radius: 8px;
}

#sold-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

#listing-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

#sold-form-container {
  display: grid;
  gap: 1rem;
}

.description {
  overflow: auto;
}

.stats {
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  border: solid;
  border-color: black;
  background-color: #272727;
  border-radius: 8px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  max-width: 50rem;
  top: 50%;
  gap: 1rem;
  align-items: center;
}

.stat-title {
  background-color: white;
  color: #272727;
  border-radius: 8px;
}

.stat-info {
  background-color: #272727;
  color: white;
  text-align: center;
  border-radius: 8px;
}

#confirm-delete-button {
  border-radius: 0px 0px 8px 8px;
  background-color: #612c55;
  color: #ecc5a0;
}

#cancel-delete-button {
  border-radius: 0px 0px 8px 8px;
  background-color: #ecc5a0;
  color: #612c55;
}

#show-stat-button {
  background-color: #272727;
  color: #f3f3f3;
  border-color: #272727;
}

#show-stat-button:hover {
  color: #ecc5a0;
}

#hide-stat-button {
  background-color: #f3f3f3;
  color: #272727;
  border-color: #272727;
}

#hide-stat-button:hover {
  background-color: #dcdcfc;
}

#category-dropdown {
  border-radius: 8px;
}